@model Html5.Web.Models.NumericViewModel

@{
    ViewBag.Title = "Numeric";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Numeric HTML 5</h2>

@Html.Partial("_Html5Numeric", Model)

<h2>Numeric HTML </h2>

@Html.Partial("_HtmlNumeric", Model)

